@import "reset.css";
@import "login.css";
@import "top-section.css";
@import "center-section.css";
@import "bottom-section.css";
@import "notice-board.css";
@import "music.css";
@import "todo.css";
:root {
  --harry-color: #6a0100;
  --border-bottom: 2px solid rgb(0, 0, 0, 0.3);
}

.hidden {
  display: none;
}

html,
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  height: 100vh;
  width: 100vw;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
